### Congratulations!!
You have completed learning the first library, Numpy with us and now it's time to move a step ahead and start learning a new library but applying the same concepts we have learned. I ensure you that this is gonna be as interesting as the library's name! Lol!<br>
So keep up the spirit and start!

# Pandas
Let's begin with our second library pandas but before that, what is pandas used for? <br>Pandas is a powerful python data analysis toolkit for reading, filtering, visualizing and exporting data! You will get a better idea on this, after going through the notebook, so let's not waste time and begin.

1.Import the Pandas library using the syntax given below:<br>
**import pandas as pd**

In [0]:
#Enter your code below
import pandas as pd

Now, we will read our old dataset and learn with it.So, let's see how we do this in pandas.<br>

#### Reading files using pandas
From JSON files to SQL files, pandas allows us to read many type of files in a very simple way.The following table gives a pretty good idea on reading files of any type using pandas:
<table>
    <thead>
    <td>Format type</td>
    <td>Data description</td>
    <td>Reader</td>
    </thead>
    <tr>
    <td>text</td>
    <td>CSV</td>
    <td>read_csv</td>
    </tr>
    <tr>
    <td>text</td>
    <td>JSON</td>
    <td>read_json</td>
    </tr>
    <tr>
    <td>text</td>
    <td>HTML</td>
    <td>read_html</td>
    </tr>
    <tr>
    <td>text</td>
    <td>local clipboard</td>
    <td>read_clipboard</td>
    </tr>
    <tr>
    <td>binary</td>
    <td>MS Excel</td>
    <td>read_excel</td>
    </tr>
    <tr>
    <td>binary</td>
    <td>HDF5 format</td>
    <td>read_hdf</td>
    </tr>
    <tr>
    <td>binary</td>
    <td>Feather format</td>
    <td>read_feather</td>
    </tr>
    <tr>
    <td>binary</td>
    <td>Msppack</td>
    <td>read_msgpack</td>
    </tr>
    <tr>
    <td>binary</td>
    <td>Stata</td>
    <td>read_stata</td>
    </tr>
    <tr>
    <td>binary</td>
    <td>SAS</td>
    <td>read_sas</td>
    </tr>
    <tr>
    <td>binary</td>
    <td>Python Pickle format</td>
    <td>read_pickle</td>
    </tr>
    <tr>
    <td>SQL</td>
    <td>SQL</td>
    <td>read_sql</td>
    </tr>
    <tr>
    <td>SQL</td>
    <td>Google Big Query</td>
    <td>read_gbq</td>
    </tr>
</table>

The syntax for reading a file using pandas is:<br>
**data = pd._reader_('file_name')**<br><br>
But, while reading any file in google colab, there are some steps to follow, which are given below.<br>
Also, note that there are two methods to do so, one is the method given below and the other is via google drive. We will be discussing only this method for now!

In this step, you are going to upload your csv file, **'Loan_data.csv'** from your system.<br>
Note that you might have to wait for a few seconds, for the file to upload. You can continue further after you see **100% done**.

In [2]:
#Run this cell
#This is the step where you upload your file from the local file system.

import io
from google.colab import files
uploaded = files.upload()

Saving Loan_data.csv to Loan_data (1).csv

Follow this link to know more about [io module](https://www.journaldev.com/19178/python-io-bytesio-stringio) of python.

In [90]:
#This is an optional step where you print file name along with length of the data of file in bytes

for fn in uploaded.keys():
  print('User uploaded file "{name}" with length {length} bytes'.format(
      name=fn, length=len(uploaded[fn])))

#If you are on the right path your output will be something like this:
#User uploaded file "Loan_data.csv" with length 38015 bytes

User uploaded file "Loan_data.csv" with length 38013 bytes

In [91]:
#Run this cell
#Printing 'uploaded'

uploaded

{'Loan_data.csv': b'Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status\r\nLP001002,Male,No,0,Graduate,No,5849,0,76,360,1,Urban,Y\r\nLP001003,Male,Yes,1,Graduate,No,4583,1508,128,360,1,Rural,N\r\nLP001005,Male,Yes,0,Graduate,Yes,3000,0,66,360,1,Urban,Y\r\nLP001006,Male,Yes,0,Not Graduate,No,2583,2358,120,360,1,Urban,Y\r\nLP001008,Male,No,0,Graduate,No,6000,0,141,360,1,Urban,Y\r\nLP001011,Male,Yes,2,Graduate,Yes,5417,4196,267,360,1,Urban,Y\r\nLP001013,Male,Yes,0,Not Graduate,No,2333,1516,95,360,1,Urban,Y\r\nLP001014,Male,Yes,3+,Graduate,No,3036,2504,158,360,0,Semiurban,N\r\nLP001018,Male,Yes,2,Graduate,No,4006,1526,168,360,1,Urban,Y\r\nLP001020,Male,Yes,1,Graduate,No,12841,10968,349,360,1,Semiurban,N\r\nLP001024,Male,Yes,2,Graduate,No,3200,700,70,360,1,Urban,Y\r\nLP001027,Male,Yes,2,Graduate,,2500,1840,109,360,1,Urban,Y\r\nLP001028,Male,Yes,2,Graduate,No,3073,8106,200,360,1,Urban,Y\r\nLP001029,Male,No,0,Graduate,No,1853,2840,114,360,1,Rural,N\r\nLP001030,Male,Yes,2,Graduate,No,1299,1086,17,120,1,Urban,Y\r\nLP001032,Male,No,0,Graduate,No,4950,0,125,360,1,Urban,Y\r\nLP001034,Male,No,1,Not Graduate,No,3596,0,100,240,,Urban,Y\r\nLP001036,Female,No,0,Graduate,No,3510,0,76,360,0,Urban,N\r\nLP001038,Male,Yes,0,Not Graduate,No,4887,0,133,360,1,Rural,N\r\nLP001041,Male,Yes,0,Graduate,,2600,3500,115,,1,Urban,Y\r\nLP001043,Male,Yes,0,Not Graduate,No,7660,0,104,360,0,Urban,N\r\nLP001046,Male,Yes,1,Graduate,No,5955,5625,315,360,1,Urban,Y\r\nLP001047,Male,Yes,0,Not Graduate,No,2600,1911,116,360,0,Semiurban,N\r\nLP001050,,Yes,2,Not Graduate,No,3365,1917,112,360,0,Rural,N\r\nLP001052,Male,Yes,1,Graduate,,3717,2925,151,360,,Semiurban,N\r\nLP001066,Male,Yes,0,Graduate,Yes,9560,0,191,360,1,Semiurban,Y\r\nLP001068,Male,Yes,0,Graduate,No,2799,2253,122,360,1,Semiurban,Y\r\nLP001073,Male,Yes,2,Not Graduate,No,4226,1040,110,360,1,Urban,Y\r\nLP001086,Male,No,0,Not Graduate,No,1442,0,35,360,1,Urban,N\r\nLP001087,Female,No,2,Graduate,,3750,2083,120,360,1,Semiurban,Y\r\nLP001091,Male,Yes,1,Graduate,,4166,3369,201,360,,Urban,N\r\nLP001095,Male,No,0,Graduate,No,3167,0,74,360,1,Urban,N\r\nLP001097,Male,No,1,Graduate,Yes,4692,0,106,360,1,Rural,N\r\nLP001098,Male,Yes,0,Graduate,No,3500,1667,114,360,1,Semiurban,Y\r\nLP001100,Male,No,3+,Graduate,No,12500,3000,320,360,1,Rural,N\r\nLP001106,Male,Yes,0,Graduate,No,2275,2067,,360,1,Urban,Y\r\nLP001109,Male,Yes,0,Graduate,No,1828,1330,100,,0,Urban,N\r\nLP001112,Female,Yes,0,Graduate,No,3667,1459,144,360,1,Semiurban,Y\r\nLP001114,Male,No,0,Graduate,No,4166,7210,184,360,1,Urban,Y\r\nLP001116,Male,No,0,Not Graduate,No,3748,1668,110,360,1,Semiurban,Y\r\nLP001119,Male,No,0,Graduate,No,3600,0,80,360,1,Urban,N\r\nLP001120,Male,No,0,Graduate,No,1800,1213,47,360,1,Urban,Y\r\nLP001123,Male,Yes,0,Graduate,No,2400,0,75,360,,Urban,Y\r\nLP001131,Male,Yes,0,Graduate,No,3941,2336,134,360,1,Semiurban,Y\r\nLP001136,Male,Yes,0,Not Graduate,Yes,4695,0,96,,1,Urban,Y\r\nLP001137,Female,No,0,Graduate,No,3410,0,88,,1,Urban,Y\r\nLP001138,Male,Yes,1,Graduate,No,5649,0,44,360,1,Urban,Y\r\nLP001144,Male,Yes,0,Graduate,No,5821,0,144,360,1,Urban,Y\r\nLP001146,Female,Yes,0,Graduate,No,2645,3440,120,360,0,Urban,N\r\nLP001151,Female,No,0,Graduate,No,4000,2275,144,360,1,Semiurban,Y\r\nLP001155,Female,Yes,0,Not Graduate,No,1928,1644,100,360,1,Semiurban,Y\r\nLP001157,Female,No,0,Graduate,No,3086,0,120,360,1,Semiurban,Y\r\nLP001164,Female,No,0,Graduate,No,4230,0,112,360,1,Semiurban,N\r\nLP001179,Male,Yes,2,Graduate,No,4616,0,134,360,1,Urban,N\r\nLP001186,Female,Yes,1,Graduate,Yes,11500,0,286,360,0,Urban,N\r\nLP001194,Male,Yes,2,Graduate,No,2708,1167,97,360,1,Semiurban,Y\r\nLP001195,Male,Yes,0,Graduate,No,2132,1591,96,360,1,Semiurban,Y\r\nLP001197,Male,Yes,0,Graduate,No,3366,2200,135,360,1,Rural,N\r\nLP001198,Male,Yes,1,Graduate,No,8080,2250,180,360,1,Urban,Y\r\nLP001199,Male,Yes,2,Not Graduate,No,3357,2859,144,360,1,Urban,Y\r\nLP001205,Male,Yes,0,Graduate,No,2500,3796,120,360,1,Urban,Y\r\nLP001206,Male,Yes,3+,Graduate,No,3029,0,99,360,1,Urban,Y\r\nLP001207,Male,Yes,0,Not Graduate,Yes,2609,3449,165,180,0,Rural,N\r\nLP001213,Male,Yes,1,Graduate,No,4945,0,,360,0,Rural,N\r\nLP001222,Female,No,0,Graduate,No,4166,0,116,360,0,Semiurban,N\r\nLP001225,Male,Yes,0,Graduate,No,5726,4595,258,360,1,Semiurban,N\r\nLP001228,Male,No,0,Not Graduate,No,3200,2254,126,180,0,Urban,N\r\nLP001233,Male,Yes,1,Graduate,No,10750,0,312,360,1,Urban,Y\r\nLP001238,Male,Yes,3+,Not Graduate,Yes,7100,0,125,60,1,Urban,Y\r\nLP001241,Female,No,0,Graduate,No,4300,0,136,360,0,Semiurban,N\r\nLP001243,Male,Yes,0,Graduate,No,3208,3066,172,360,1,Urban,Y\r\nLP001245,Male,Yes,2,Not Graduate,Yes,1875,1875,97,360,1,Semiurban,Y\r\nLP001248,Male,No,0,Graduate,No,3500,0,81,300,1,Semiurban,Y\r\nLP001250,Male,Yes,3+,Not Graduate,No,4755,0,95,,0,Semiurban,N\r\nLP001253,Male,Yes,3+,Graduate,Yes,5266,1774,187,360,1,Semiurban,Y\r\nLP001255,Male,No,0,Graduate,No,3750,0,113,480,1,Urban,N\r\nLP001256,Male,No,0,Graduate,No,3750,4750,176,360,1,Urban,N\r\nLP001259,Male,Yes,1,Graduate,Yes,1000,3022,110,360,1,Urban,N\r\nLP001263,Male,Yes,3+,Graduate,No,3167,4000,180,300,0,Semiurban,N\r\nLP001264,Male,Yes,3+,Not Graduate,Yes,3333,2166,130,360,,Semiurban,Y\r\nLP001265,Female,No,0,Graduate,No,3846,0,111,360,1,Semiurban,Y\r\nLP001266,Male,Yes,1,Graduate,Yes,2395,0,,360,1,Semiurban,Y\r\nLP001267,Female,Yes,2,Graduate,No,1378,1881,167,360,1,Urban,N\r\nLP001273,Male,Yes,0,Graduate,No,6000,2250,265,360,,Semiurban,N\r\nLP001275,Male,Yes,1,Graduate,No,3988,0,50,240,1,Urban,Y\r\nLP001279,Male,No,0,Graduate,No,2366,2531,136,360,1,Semiurban,Y\r\nLP001280,Male,Yes,2,Not Graduate,No,3333,2000,99,360,,Semiurban,Y\r\nLP001282,Male,Yes,0,Graduate,No,2500,2118,104,360,1,Semiurban,Y\r\nLP001289,Male,No,0,Graduate,No,8566,0,210,360,1,Urban,Y\r\nLP001310,Male,Yes,0,Graduate,No,5695,4167,175,360,1,Semiurban,Y\r\nLP001316,Male,Yes,0,Graduate,No,2958,2900,131,360,1,Semiurban,Y\r\nLP001318,Male,Yes,2,Graduate,No,6250,5654,188,180,1,Semiurban,Y\r\nLP001319,Male,Yes,2,Not Graduate,No,3273,1820,81,360,1,Urban,Y\r\nLP001322,Male,No,0,Graduate,No,4133,0,122,360,1,Semiurban,Y\r\nLP001325,Male,No,0,Not Graduate,No,3620,0,25,120,1,Semiurban,Y\r\nLP001326,Male,No,0,Graduate,,6782,0,,360,,Urban,N\r\nLP001327,Female,Yes,0,Graduate,No,2484,2302,137,360,1,Semiurban,Y\r\nLP001333,Male,Yes,0,Graduate,No,1977,997,50,360,1,Semiurban,Y\r\nLP001334,Male,Yes,0,Not Graduate,No,4188,0,115,180,1,Semiurban,Y\r\nLP001343,Male,Yes,0,Graduate,No,1759,3541,131,360,1,Semiurban,Y\r\nLP001345,Male,Yes,2,Not Graduate,No,4288,3263,133,180,1,Urban,Y\r\nLP001349,Male,No,0,Graduate,No,4843,3806,151,360,1,Semiurban,Y\r\nLP001350,Male,Yes,,Graduate,No,13650,0,,360,1,Urban,Y\r\nLP001356,Male,Yes,0,Graduate,No,4652,3583,,360,1,Semiurban,Y\r\nLP001357,Male,,,Graduate,No,3816,754,160,360,1,Urban,Y\r\nLP001367,Male,Yes,1,Graduate,No,3052,1030,100,360,1,Urban,Y\r\nLP001369,Male,Yes,2,Graduate,No,11417,1126,225,360,1,Urban,Y\r\nLP001370,Male,No,0,Not Graduate,,7333,0,120,360,1,Rural,N\r\nLP001379,Male,Yes,2,Graduate,No,3800,3600,216,360,0,Urban,N\r\nLP001384,Male,Yes,3+,Not Graduate,No,2071,754,94,480,1,Semiurban,Y\r\nLP001385,Male,No,0,Graduate,No,5316,0,136,360,1,Urban,Y\r\nLP001387,Female,Yes,0,Graduate,,2929,2333,139,360,1,Semiurban,Y\r\nLP001391,Male,Yes,0,Not Graduate,No,3572,4114,152,,0,Rural,N\r\nLP001392,Female,No,1,Graduate,Yes,7451,0,,360,1,Semiurban,Y\r\nLP001398,Male,No,0,Graduate,,5050,0,118,360,1,Semiurban,Y\r\nLP001401,Male,Yes,1,Graduate,No,14583,0,185,180,1,Rural,Y\r\nLP001404,Female,Yes,0,Graduate,No,3167,2283,154,360,1,Semiurban,Y\r\nLP001405,Male,Yes,1,Graduate,No,2214,1398,85,360,,Urban,Y\r\nLP001421,Male,Yes,0,Graduate,No,5568,2142,175,360,1,Rural,N\r\nLP001422,Female,No,0,Graduate,No,10408,0,259,360,1,Urban,Y\r\nLP001426,Male,Yes,,Graduate,No,5667,2667,180,360,1,Rural,Y\r\nLP001430,Female,No,0,Graduate,No,4166,0,44,360,1,Semiurban,Y\r\nLP001431,Female,No,0,Graduate,No,2137,8980,137,360,0,Semiurban,Y\r\nLP001432,Male,Yes,2,Graduate,No,2957,0,81,360,1,Semiurban,Y\r\nLP001439,Male,Yes,0,Not Graduate,No,4300,2014,194,360,1,Rural,Y\r\nLP001443,Female,No,0,Graduate,No,3692,0,93,360,,Rural,Y\r\nLP001448,,Yes,3+,Graduate,No,23803,0,370,360,1,Rural,Y\r\nLP001449,Male,No,0,Graduate,No,3865,1640,,360,1,Rural,Y\r\nLP001451,Male,Yes,1,Graduate,Yes,10513,3850,160,180,0,Urban,N\r\nLP001465,Male,Yes,0,Graduate,No,6080,2569,182,360,,Rural,N\r\nLP001469,Male,No,0,Graduate,Yes,20166,0,650,480,,Urban,Y\r\nLP001473,Male,No,0,Graduate,No,2014,1929,74,360,1,Urban,Y\r\nLP001478,Male,No,0,Graduate,No,2718,0,70,360,1,Semiurban,Y\r\nLP001482,Male,Yes,0,Graduate,Yes,3459,0,25,120,1,Semiurban,Y\r\nLP001487,Male,No,0,Graduate,No,4895,0,102,360,1,Semiurban,Y\r\nLP001488,Male,Yes,3+,Graduate,No,4000,7750,290,360,1,Semiurban,N\r\nLP001489,Female,Yes,0,Graduate,No,4583,0,84,360,1,Rural,N\r\nLP001491,Male,Yes,2,Graduate,Yes,3316,3500,88,360,1,Urban,Y\r\nLP001492,Male,No,0,Graduate,No,14999,0,242,360,0,Semiurban,N\r\nLP001493,Male,Yes,2,Not Graduate,No,4200,1430,129,360,1,Rural,N\r\nLP001497,Male,Yes,2,Graduate,No,5042,2083,185,360,1,Rural,N\r\nLP001498,Male,No,0,Graduate,No,5417,0,168,360,1,Urban,Y\r\nLP001504,Male,No,0,Graduate,Yes,6950,0,175,180,1,Semiurban,Y\r\nLP001507,Male,Yes,0,Graduate,No,2698,2034,122,360,1,Semiurban,Y\r\nLP001508,Male,Yes,2,Graduate,No,11757,0,187,180,1,Urban,Y\r\nLP001514,Female,Yes,0,Graduate,No,2330,4486,100,360,1,Semiurban,Y\r\nLP001516,Female,Yes,2,Graduate,No,14866,0,70,360,1,Urban,Y\r\nLP001518,Male,Yes,1,Graduate,No,1538,1425,30,360,1,Urban,Y\r\nLP001519,Female,No,0,Graduate,No,10000,1666,225,360,1,Rural,N\r\nLP001520,Male,Yes,0,Graduate,No,4860,830,125,360,1,Semiurban,Y\r\nLP001528,Male,No,0,Graduate,No,6277,0,118,360,0,Rural,N\r\nLP001529,Male,Yes,0,Graduate,Yes,2577,3750,152,360,1,Rural,Y\r\nLP001531,Male,No,0,Graduate,No,9166,0,244,360,1,Urban,N\r\nLP001532,Male,Yes,2,Not Graduate,No,2281,0,113,360,1,Rural,N\r\nLP001535,Male,No,0,Graduate,No,3254,0,50,360,1,Urban,Y\r\nLP001536,Male,Yes,3+,Graduate,No,39999,0,600,180,0,Semiurban,Y\r\nLP001541,Male,Yes,1,Graduate,No,6000,0,160,360,,Rural,Y\r\nLP001543,Male,Yes,1,Graduate,No,9538,0,187,360,1,Urban,Y\r\nLP001546,Male,No,0,Graduate,,2980,2083,120,360,1,Rural,Y\r\nLP001552,Male,Yes,0,Graduate,No,4583,5625,255,360,1,Semiurban,Y\r\nLP001560,Male,Yes,0,Not Graduate,No,1863,1041,98,360,1,Semiurban,Y\r\nLP001562,Male,Yes,0,Graduate,No,7933,0,275,360,1,Urban,N\r\nLP001565,Male,Yes,1,Graduate,No,3089,1280,121,360,0,Semiurban,N\r\nLP001570,Male,Yes,2,Graduate,No,4167,1447,158,360,1,Rural,Y\r\nLP001572,Male,Yes,0,Graduate,No,9323,0,75,180,1,Urban,Y\r\nLP001574,Male,Yes,0,Graduate,No,3707,3166,182,,1,Rural,Y\r\nLP001577,Female,Yes,0,Graduate,No,4583,0,112,360,1,Rural,N\r\nLP001578,Male,Yes,0,Graduate,No,2439,3333,129,360,1,Rural,Y\r\nLP001579,Male,No,0,Graduate,No,2237,0,63,480,0,Semiurban,N\r\nLP001580,Male,Yes,2,Graduate,No,8000,0,200,360,1,Semiurban,Y\r\nLP001581,Male,Yes,0,Not Graduate,,1820,1769,95,360,1,Rural,Y\r\nLP001585,,Yes,3+,Graduate,No,51763,0,700,300,1,Urban,Y\r\nLP001586,Male,Yes,3+,Not Graduate,No,3522,0,81,180,1,Rural,N\r\nLP001594,Male,Yes,0,Graduate,No,5708,5625,187,360,1,Semiurban,Y\r\nLP001603,Male,Yes,0,Not Graduate,Yes,4344,736,87,360,1,Semiurban,N\r\nLP001606,Male,Yes,0,Graduate,No,3497,1964,116,360,1,Rural,Y\r\nLP001608,Male,Yes,2,Graduate,No,2045,1619,101,360,1,Rural,Y\r\nLP001610,Male,Yes,3+,Graduate,No,5516,11300,495,360,0,Semiurban,N\r\nLP001616,Male,Yes,1,Graduate,No,3750,0,116,360,1,Semiurban,Y\r\nLP001630,Male,No,0,Not Graduate,No,2333,1451,102,480,0,Urban,N\r\nLP001633,Male,Yes,1,Graduate,No,6400,7250,180,360,0,Urban,N\r\nLP001634,Male,No,0,Graduate,No,1916,5063,67,360,,Rural,N\r\nLP001636,Male,Yes,0,Graduate,No,4600,0,73,180,1,Semiurban,Y\r\nLP001637,Male,Yes,1,Graduate,No,33846,0,260,360,1,Semiurban,N\r\nLP001639,Female,Yes,0,Graduate,No,3625,0,108,360,1,Semiurban,Y\r\nLP001640,Male,Yes,0,Graduate,Yes,39147,4750,120,360,1,Semiurban,Y\r\nLP001641,Male,Yes,1,Graduate,Yes,2178,0,66,300,0,Rural,N\r\nLP001643,Male,Yes,0,Graduate,No,2383,2138,58,360,,Rural,Y\r\nLP001644,,Yes,0,Graduate,Yes,674,5296,168,360,1,Rural,Y\r\nLP001647,Male,Yes,0,Graduate,No,9328,0,188,180,1,Rural,Y\r\nLP001653,Male,No,0,Not Graduate,No,4885,0,48,360,1,Rural,Y\r\nLP001656,Male,No,0,Graduate,No,12000,0,164,360,1,Semiurban,N\r\nLP001657,Male,Yes,0,Not Graduate,No,6033,0,160,360,1,Urban,N\r\nLP001658,Male,No,0,Graduate,No,3858,0,76,360,1,Semiurban,Y\r\nLP001664,Male,No,0,Graduate,No,4191,0,120,360,1,Rural,Y\r\nLP001665,Male,Yes,1,Graduate,No,3125,2583,170,360,1,Semiurban,N\r\nLP001666,Male,No,0,Graduate,No,8333,3750,187,360,1,Rural,Y\r\nLP001669,Female,No,0,Not Graduate,No,1907,2365,120,,1,Urban,Y\r\nLP001671,Female,Yes,0,Graduate,No,3416,2816,113,360,,Semiurban,Y\r\nLP001673,Male,No,0,Graduate,Yes,11000,0,83,360,1,Urban,N\r\nLP001674,Male,Yes,1,Not Graduate,No,2600,2500,90,360,1,Semiurban,Y\r\nLP001677,Male,No,2,Graduate,No,4923,0,166,360,0,Semiurban,Y\r\nLP001682,Male,Yes,3+,Not Graduate,No,3992,0,,180,1,Urban,N\r\nLP001688,Male,Yes,1,Not Graduate,No,3500,1083,135,360,1,Urban,Y\r\nLP001691,Male,Yes,2,Not Graduate,No,3917,0,124,360,1,Semiurban,Y\r\nLP001692,Female,No,0,Not Graduate,No,4408,0,120,360,1,Semiurban,Y\r\nLP001693,Female,No,0,Graduate,No,3244,0,80,360,1,Urban,Y\r\nLP001698,Male,No,0,Not Graduate,No,3975,2531,55,360,1,Rural,Y\r\nLP001699,Male,No,0,Graduate,No,2479,0,59,360,1,Urban,Y\r\nLP001702,Male,No,0,Graduate,No,3418,0,127,360,1,Semiurban,N\r\nLP001708,Female,No,0,Graduate,No,10000,0,214,360,1,Semiurban,N\r\nLP001711,Male,Yes,3+,Graduate,No,3430,1250,128,360,0,Semiurban,N\r\nLP001713,Male,Yes,1,Graduate,Yes,7787,0,240,360,1,Urban,Y\r\nLP001715,Male,Yes,3+,Not Graduate,Yes,5703,0,130,360,1,Rural,Y\r\nLP001716,Male,Yes,0,Graduate,No,3173,3021,137,360,1,Urban,Y\r\nLP001720,Male,Yes,3+,Not Graduate,No,3850,983,100,360,1,Semiurban,Y\r\nLP001722,Male,Yes,0,Graduate,No,150,1800,135,360,1,Rural,N\r\nLP001726,Male,Yes,0,Graduate,No,3727,1775,131,360,1,Semiurban,Y\r\nLP001732,Male,Yes,2,Graduate,,5000,0,72,360,0,Semiurban,N\r\nLP001734,Female,Yes,2,Graduate,No,4283,2383,127,360,,Semiurban,Y\r\nLP001736,Male,Yes,0,Graduate,No,2221,0,60,360,0,Urban,N\r\nLP001743,Male,Yes,2,Graduate,No,4009,1717,116,360,1,Semiurban,Y\r\nLP001744,Male,No,0,Graduate,No,2971,2791,144,360,1,Semiurban,Y\r\nLP001749,Male,Yes,0,Graduate,No,7578,1010,175,,1,Semiurban,Y\r\nLP001750,Male,Yes,0,Graduate,No,6250,0,128,360,1,Semiurban,Y\r\nLP001751,Male,Yes,0,Graduate,No,3250,0,170,360,1,Rural,N\r\nLP001754,Male,Yes,,Not Graduate,Yes,4735,0,138,360,1,Urban,N\r\nLP001758,Male,Yes,2,Graduate,No,6250,1695,210,360,1,Semiurban,Y\r\nLP001760,Male,,,Graduate,No,4758,0,158,480,1,Semiurban,Y\r\nLP001761,Male,No,0,Graduate,Yes,6400,0,200,360,1,Rural,Y\r\nLP001765,Male,Yes,1,Graduate,No,2491,2054,104,360,1,Semiurban,Y\r\nLP001768,Male,Yes,0,Graduate,,3716,0,42,180,1,Rural,Y\r\nLP001770,Male,No,0,Not Graduate,No,3189,2598,120,,1,Rural,Y\r\nLP001776,Female,No,0,Graduate,No,8333,0,280,360,1,Semiurban,Y\r\nLP001778,Male,Yes,1,Graduate,No,3155,1779,140,360,1,Semiurban,Y\r\nLP001784,Male,Yes,1,Graduate,No,5500,1260,170,360,1,Rural,Y\r\nLP001786,Male,Yes,0,Graduate,,5746,0,255,360,,Urban,N\r\nLP001788,Female,No,0,Graduate,Yes,3463,0,122,360,,Urban,Y\r\nLP001790,Female,No,1,Graduate,No,3812,0,112,360,1,Rural,Y\r\nLP001792,Male,Yes,1,Graduate,No,3315,0,96,360,1,Semiurban,Y\r\nLP001798,Male,Yes,2,Graduate,No,5819,5000,120,360,1,Rural,Y\r\nLP001800,Male,Yes,1,Not Graduate,No,2510,1983,140,180,1,Urban,N\r\nLP001806,Male,No,0,Graduate,No,2965,5701,155,60,1,Urban,Y\r\nLP001807,Male,Yes,2,Graduate,Yes,6250,1300,108,360,1,Rural,Y\r\nLP001811,Male,Yes,0,Not Graduate,No,3406,4417,123,360,1,Semiurban,Y\r\nLP001813,Male,No,0,Graduate,Yes,6050,4333,120,180,1,Urban,N\r\nLP001814,Male,Yes,2,Graduate,No,9703,0,112,360,1,Urban,Y\r\nLP001819,Male,Yes,1,Not Graduate,No,6608,0,137,180,1,Urban,Y\r\nLP001824,Male,Yes,1,Graduate,No,2882,1843,123,480,1,Semiurban,Y\r\nLP001825,Male,Yes,0,Graduate,No,1809,1868,90,360,1,Urban,Y\r\nLP001835,Male,Yes,0,Not Graduate,No,1668,3890,201,360,0,Semiurban,N\r\nLP001836,Female,No,2,Graduate,No,3427,0,138,360,1,Urban,N\r\nLP001841,Male,No,0,Not Graduate,Yes,2583,2167,104,360,1,Rural,Y\r\nLP001843,Male,Yes,1,Not Graduate,No,2661,7101,279,180,1,Semiurban,Y\r\nLP001844,Male,No,0,Graduate,Yes,16250,0,192,360,0,Urban,N\r\nLP001846,Female,No,3+,Graduate,No,3083,0,255,360,1,Rural,Y\r\nLP001849,Male,No,0,Not Graduate,No,6045,0,115,360,0,Rural,N\r\nLP001854,Male,Yes,3+,Graduate,No,5250,0,94,360,1,Urban,N\r\nLP001859,Male,Yes,0,Graduate,No,14683,2100,304,360,1,Rural,N\r\nLP001864,Male,Yes,3+,Not Graduate,No,4931,0,128,360,,Semiurban,N\r\nLP001865,Male,Yes,1,Graduate,No,6083,4250,330,360,,Urban,Y\r\nLP001868,Male,No,0,Graduate,No,2060,2209,134,360,1,Semiurban,Y\r\nLP001870,Female,No,1,Graduate,No,3481,0,155,36,1,Semiurban,N\r\nLP001871,Female,No,0,Graduate,No,7200,0,120,360,1,Rural,Y\r\nLP001872,Male,No,0,Graduate,Yes,5166,0,128,360,1,Semiurban,Y\r\nLP001875,Male,No,0,Graduate,No,4095,3447,151,360,1,Rural,Y\r\nLP001877,Male,Yes,2,Graduate,No,4708,1387,150,360,1,Semiurban,Y\r\nLP001882,Male,Yes,3+,Graduate,No,4333,1811,160,360,0,Urban,Y\r\nLP001883,Female,No,0,Graduate,,3418,0,135,360,1,Rural,N\r\nLP001884,Female,No,1,Graduate,No,2876,1560,90,360,1,Urban,Y\r\nLP001888,Female,No,0,Graduate,No,3237,0,30,360,1,Urban,Y\r\nLP001891,Male,Yes,0,Graduate,No,11146,0,136,360,1,Urban,Y\r\nLP001892,Male,No,0,Graduate,No,2833,1857,126,360,1,Rural,Y\r\nLP001894,Male,Yes,0,Graduate,No,2620,2223,150,360,1,Semiurban,Y\r\nLP001896,Male,Yes,2,Graduate,No,3900,0,90,360,1,Semiurban,Y\r\nLP001900,Male,Yes,1,Graduate,No,2750,1842,115,360,1,Semiurban,Y\r\nLP001903,Male,Yes,0,Graduate,No,3993,3274,207,360,1,Semiurban,Y\r\nLP001904,Male,Yes,0,Graduate,No,3103,1300,80,360,1,Urban,Y\r\nLP001907,Male,Yes,0,Graduate,No,14583,0,436,360,1,Semiurban,Y\r\nLP001908,Female,Yes,0,Not Graduate,No,4100,0,124,360,,Rural,Y\r\nLP001910,Male,No,1,Not Graduate,Yes,4053,2426,158,360,0,Urban,N\r\nLP001914,Male,Yes,0,Graduate,No,3927,800,112,360,1,Semiurban,Y\r\nLP001915,Male,Yes,2,Graduate,No,2301,985.7999878,78,180,1,Urban,Y\r\nLP001917,Female,No,0,Graduate,No,1811,1666,54,360,1,Urban,Y\r\nLP001922,Male,Yes,0,Graduate,No,20667,0,,360,1,Rural,N\r\nLP001924,Male,No,0,Graduate,No,3158,3053,89,360,1,Rural,Y\r\nLP001925,Female,No,0,Graduate,Yes,2600,1717,99,300,1,Semiurban,N\r\nLP001926,Male,Yes,0,Graduate,No,3704,2000,120,360,1,Rural,Y\r\nLP001931,Female,No,0,Graduate,No,4124,0,115,360,1,Semiurban,Y\r\nLP001935,Male,No,0,Graduate,No,9508,0,187,360,1,Rural,Y\r\nLP001936,Male,Yes,0,Graduate,No,3075,2416,139,360,1,Rural,Y\r\nLP001938,Male,Yes,2,Graduate,No,4400,0,127,360,0,Semiurban,N\r\nLP001940,Male,Yes,2,Graduate,No,3153,1560,134,360,1,Urban,Y\r\nLP001945,Female,No,,Graduate,No,5417,0,143,480,0,Urban,N\r\nLP001947,Male,Yes,0,Graduate,No,2383,3334,172,360,1,Semiurban,Y\r\nLP001949,Male,Yes,3+,Graduate,,4416,1250,110,360,1,Urban,Y\r\nLP001953,Male,Yes,1,Graduate,No,6875,0,200,360,1,Semiurban,Y\r\nLP001954,Female,Yes,1,Graduate,No,4666,0,135,360,1,Urban,Y\r\nLP001955,Female,No,0,Graduate,No,5000,2541,151,480,1,Rural,N\r\nLP001963,Male,Yes,1,Graduate,No,2014,2925,113,360,1,Urban,N\r\nLP001964,Male,Yes,0,Not Graduate,No,1800,2934,93,360,0,Urban,N\r\nLP001972,Male,Yes,,Not Graduate,No,2875,1750,105,360,1,Semiurban,Y\r\nLP001974,Female,No,0,Graduate,No,5000,0,132,360,1,Rural,Y\r\nLP001977,Male,Yes,1,Graduate,No,1625,1803,96,360,1,Urban,Y\r\nLP001978,Male,No,0,Graduate,No,4000,2500,140,360,1,Rural,Y\r\nLP001990,Male,No,0,Not Graduate,No,2000,0,,360,1,Urban,N\r\nLP001993,Female,No,0,Graduate,No,3762,1666,135,360,1,Rural,Y\r\nLP001994,Female,No,0,Graduate,No,2400,1863,104,360,0,Urban,N\r\nLP001996,Male,No,0,Graduate,No,20233,0,480,360,1,Rural,N\r\nLP001998,Male,Yes,2,Not Graduate,No,7667,0,185,360,,Rural,Y\r\nLP002002,Female,No,0,Graduate,No,2917,0,84,360,1,Semiurban,Y\r\nLP002004,Male,No,0,Not Graduate,No,2

You can see that, data is retrieved in the form of a **dictionary**, where **file name** is the **key**, and the **complete data** as the **value** of the key.<br><br>
Now, in the next step we will be reading our file, **Loan_data.csv** using the **pd.read_csv** reader of pandas, in the following manner:

In [92]:
#Enter your code here
data = pd.read_csv(io.StringIO(uploaded['Loan_data.csv'].decode('utf-8')))
data

      Loan_ID  Gender Married  ... Credit_History Property_Area Loan_Status
0    LP001002    Male      No  ...            1.0         Urban           Y
1    LP001003    Male     Yes  ...            1.0         Rural           N
2    LP001005    Male     Yes  ...            1.0         Urban           Y
3    LP001006    Male     Yes  ...            1.0         Urban           Y
4    LP001008    Male      No  ...            1.0         Urban           Y
..        ...     ...     ...  ...            ...           ...         ...
609  LP002978  Female      No  ...            1.0         Rural           Y
610  LP002979    Male     Yes  ...            1.0         Rural           Y
611  LP002983    Male     Yes  ...            1.0         Urban           Y
612  LP002984    Male     Yes  ...            1.0         Urban           Y
613  LP002990  Female      No  ...            0.0     Semiurban           N

[614 rows x 13 columns]

Doesn't this form of reading data look much better and easier? Well, what you see above is called a **dataframe** in pandas, which we will learn in the coming sections.

#### Dimension
**.shape** attribute returns a tuple representing the dimensions of each axis of the object.<br>
Syntax: 
<ul>
    <li><b>data.shape</b> - returns <b>( no_of_rows ,no_of_columns )</b> </li>
    <li><b>data.shape[0]</b> - returns <b>Number of rows</b></li>
    <li><b>data.shape[1]</b> - returns <b>Number of columns</b></li>
</ul>
<br>
2.Find the <b>shape, number of rows and number of columns</b> of the data

In [47]:
#Enter your code here
data.shape

(614, 13)

In [48]:
#Enter your code here
data.shape[0]

614

In [49]:
#Enter your code here
data.shape[1]

13

#### Data Structures in Pandas
We have two important data structures offered by pandas as given below:
<ol>
    <li><b>Series</b></li>
    <li><b>Dataframe</b></li>
</ol>
So let's have a brief introduction to it!

### 1.Series
Pandas Series is a **one-dimensional labeled array** capable of holding data of any type (integer, string, float, python objects, etc.). The axis labels are collectively called **index**. Pandas Series is nothing but a **column in an excel sheet**.<br><br>
Syntax: **series_object = pd.Series([_elements_])**<br><br>
Let's see an example below:

In [71]:
#Run this cell
series_obj1 = pd.Series([1,2,3,'hi'])
series_obj1

0     1
1     2
2     3
3    hi
dtype: object

What you see above is a Series object with default indices. Now in our **data**, i.e, our csv file we will read a column of it below, which can be called a series. Let's have a look on how we do it.!<br>
### Selecting a single column
There are two methods to do so.They are:
<ul>
    <li>Explicit Syntax: <b>col = data.loc[ : , 'column_name']</b><br></li>
    <li>Shorthand convention: <b>col = data['column_name']</b><br></li>
</ul>
Here <b>col</b> is a <b>Series object</b>.<br><br>
Let's have a look at at the example below:

In [77]:
#Run this cell
Marital_status = data['Married']
Marital_status

0       No
1      Yes
2      Yes
3      Yes
4       No
      ...
609     No
610    Yes
611    Yes
612    Yes
613     No
Name: Married, Length: 614, dtype: object

So, let's try it on our own now by completing the task below.<br>
3.Select the **Education** column from **data**.

In [52]:
#Enter you code here
Education_status = data["Education"]
print(Education_status)

0          Graduate
1          Graduate
2          Graduate
3      Not Graduate
4          Graduate
           ...
609        Graduate
610        Graduate
611        Graduate
612        Graduate
613        Graduate
Name: Education, Length: 614, dtype: object

Expected Output:<br>
0          Graduate<br>
1          Graduate<br>
2          Graduate<br>
3      Not Graduate<br>
4          Graduate<br>
5          Graduate<br>
6      Not Graduate<br>
7          Graduate<br>
8          Graduate<br>
9          Graduate<br>
10         Graduate<br>
11         Graduate<br>
12         Graduate<br>
13         Graduate<br>
14         Graduate<br>
15         Graduate<br>
16     Not Graduate<br>
17         Graduate<br>
18     Not Graduate<br>
19         Graduate<br>
20     Not Graduate<br>
21         Graduate<br>
22     Not Graduate<br>
23     Not Graduate<br>
24         Graduate<br>
25         Graduate<br>
26         Graduate<br>
27     Not Graduate<br>
28     Not Graduate<br>
29         Graduate<br>
           ...     <br>
584        Graduate<br>
585        Graduate<br>
586        Graduate<br>
587    Not Graduate<br>
588        Graduate<br>
589        Graduate<br>
590        Graduate<br>
591        Graduate<br>
592        Graduate<br>
593        Graduate<br>
594        Graduate<br>
595    Not Graduate<br>
596    Not Graduate<br>
597        Graduate<br>
598        Graduate<br>
599        Graduate<br>
600        Graduate<br>
601    Not Graduate<br>
602        Graduate<br>
603        Graduate<br>
604        Graduate<br>
605    Not Graduate<br>
606        Graduate<br>
607    Not Graduate<br>
608        Graduate<br>
609        Graduate<br>
610        Graduate<br>
611        Graduate<br>
612        Graduate<br>
613        Graduate<br>
Name: Education, Length: 614, dtype: object

#### Difference between Series object of pandas and ndarray of numpy
<table>
    <thead>
    <td>Ndarray</td>
    <td>Series</td>
    </thead>
    <tr>
    <td>Homogeneous</td>
    <td>Hetrogeneous</td>
    </tr>
    <tr>
    <td>Integer position</td>
    <td>Integer position or any labeled index</td>
    </tr>
</table>

### 2.Dataframe
Dataframes are the pandas equivalent of a **Numpy 2D ndarray**, with a few key differences:
<ul>
    <li>Axis values can have string labels, not just numeric ones.</li>
    <li>Dataframes can contain columns with multiple data types: including integer, float, and string.</li>
</ul>
Syntax: <b>df = pd.DataFrame([[elements_of_list1],[elements_of_list2],[elements_of_list3].....])</b><br><br>
Let's see an example below.

In [53]:
#Run this cell
df = pd.DataFrame([[1,'one'],[2,'two'],[3,'three']])
df

   0      1
0  1    one
1  2    two
2  3  three

So **df** above is a dataframe object.<br>
Note that our file **"Loan_data.csv" is read in 'data' as a dataframe using pandas**.<br>
So let's see different functions to manipulate a dataframe

#### head() and tail()
To view a small sample of a Series or the DataFrame object, use the head() and the tail() methods.<br>
<ul>
    <li><b>data.head(n)</b> - returns the <b>first n rows</b>(observe the index values).</li>
    <li><b>data.tail(n)</b> - returns the <b>last n rows</b>(observe the index values).</li>
</ul>
Note: The <b>default number of elements to display is five</b>, but you may pass a custom number. Also, the rows are selected excluding the header from the index value.
<br><br>
    4. Print the <b>first 10 rows of data</b>.

In [54]:
#Enter your code below
data.head(10)

    Loan_ID Gender Married  ... Credit_History Property_Area Loan_Status
0  LP001002   Male      No  ...            1.0         Urban           Y
1  LP001003   Male     Yes  ...            1.0         Rural           N
2  LP001005   Male     Yes  ...            1.0         Urban           Y
3  LP001006   Male     Yes  ...            1.0         Urban           Y
4  LP001008   Male      No  ...            1.0         Urban           Y
5  LP001011   Male     Yes  ...            1.0         Urban           Y
6  LP001013   Male     Yes  ...            1.0         Urban           Y
7  LP001014   Male     Yes  ...            0.0     Semiurban           N
8  LP001018   Male     Yes  ...            1.0         Urban           Y
9  LP001020   Male     Yes  ...            1.0     Semiurban           N

[10 rows x 13 columns]

5.Print the **last 10 rows of data**.

In [95]:
#Enter your code below
data.tail(5)

      Loan_ID  Gender Married  ... Credit_History Property_Area Loan_Status
609  LP002978  Female      No  ...            1.0         Rural           Y
610  LP002979    Male     Yes  ...            1.0         Rural           Y
611  LP002983    Male     Yes  ...            1.0         Urban           Y
612  LP002984    Male     Yes  ...            1.0         Urban           Y
613  LP002990  Female      No  ...            0.0     Semiurban           N

[5 rows x 13 columns]

#### .dtypes
It returns the dataframe's datatypes.<br>
Syntax: **data.dtypes**<br><br>
6.Print the **data types of all the columns of data**.

In [56]:
#Enter your code below
data.dtypes

Loan_ID               object
Gender                object
Married               object
Dependents            object
Education             object
Self_Employed         object
ApplicantIncome        int64
CoapplicantIncome    float64
LoanAmount           float64
Loan_Amount_Term     float64
Credit_History       float64
Property_Area         object
Loan_Status           object
dtype: object

Also, go through [select_dtypes()](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.select_dtypes.html) function, which is useful in selecting data of particular data types.

### Selecting values from a dataframe
We have already discussed how to select a single column. No let's see how to select multiple columns.<br>
#### Selecting multiple columns/ list of columns (Specific columns)
Syntax: <ul>
    <li>Explicit syntax: <b>cols = data.loc[ : ,['column1_name', column2_name, ....]]</b>
    <li>Shorthand syntax: <b>data[[ 'column1_name', column2_name, ....]]</b></li>
    </ul>
<br>
7.Select **Dependents, Credit_History and Property_Area,** columns from data

In [57]:
#Enter your code below
data[["Dependents","Credit_History","Credit_History"]]

    Dependents  Credit_History  Credit_History
0            0             1.0             1.0
1            1             1.0             1.0
2            0             1.0             1.0
3            0             1.0             1.0
4            0             1.0             1.0
..         ...             ...             ...
609          0             1.0             1.0
610         3+             1.0             1.0
611          1             1.0             1.0
612          2             1.0             1.0
613          0             0.0             0.0

[614 rows x 3 columns]

#### Selecting multiple columns / slice of columns (Continuous columns)
Explicit syntax: <b>data.loc[ : , 'column_name_first : 'column_name_last']</b>
<br><br>
  8.Select **4th to 8th columns** from data.

In [17]:
#Enter your code below
data.loc[:,"Dependents":"CoapplicantIncome"]

    Dependents     Education Self_Employed  ApplicantIncome  CoapplicantIncome
0            0      Graduate            No             5849                0.0
1            1      Graduate            No             4583             1508.0
2            0      Graduate           Yes             3000                0.0
3            0  Not Graduate            No             2583             2358.0
4            0      Graduate            No             6000                0.0
..         ...           ...           ...              ...                ...
609          0      Graduate            No             2900                0.0
610         3+      Graduate            No             4106                0.0
611          1      Graduate            No             8072              240.0
612          2      Graduate            No             7583                0.0
613          0      Graduate           Yes             4583                0.0

[614 rows x 5 columns]

#### Selecting single row 
Explicit syntax: **data.loc[ row_index ]**<br>

9.Select **3rd row** from data

In [18]:
#Enter your code below
data.loc[2]

Loan_ID              LP001005
Gender                   Male
Married                   Yes
Dependents                  0
Education            Graduate
Self_Employed             Yes
ApplicantIncome          3000
CoapplicantIncome           0
LoanAmount                 66
Loan_Amount_Term          360
Credit_History              1
Property_Area           Urban
Loan_Status                 Y
Name: 2, dtype: object

#### Selecting multiple rows/ list of rows (Specific rows)
Explicit syntax: **data.loc[ row1_index, row2_index,...]**<br><br>
10.Select **5th, 10th and 15th rows** from data.

In [101]:
#Enter your code below
data.loc[[4,9,14]]
data.loc[199:204]

      Loan_ID Gender Married  ... Credit_History Property_Area Loan_Status
199  LP001673   Male      No  ...            1.0         Urban           N
200  LP001674   Male     Yes  ...            1.0     Semiurban           Y
201  LP001677   Male      No  ...            0.0     Semiurban           Y
202  LP001682   Male     Yes  ...            1.0         Urban           N
203  LP001688   Male     Yes  ...            1.0         Urban           Y
204  LP001691   Male     Yes  ...            1.0     Semiurban           Y

[6 rows x 13 columns]

#### Selecting multiple rows/ slice of rows (Continuous rows)
<ul>
    <li>Explicit syntax: <b>data.loc[ row_index_start : row_index_end ]</b></li>
    <li>Shorthand syntax: <b>data[ row_index_start : row_index_end+1 ]</b></li>
</ul>
<br>
11.Select <b>10th to 20th rows</b> from data.

In [20]:
#Enter your code below
data[10:21]

     Loan_ID  Gender Married  ... Credit_History Property_Area Loan_Status
10  LP001024    Male     Yes  ...            1.0         Urban           Y
11  LP001027    Male     Yes  ...            1.0         Urban           Y
12  LP001028    Male     Yes  ...            1.0         Urban           Y
13  LP001029    Male      No  ...            1.0         Rural           N
14  LP001030    Male     Yes  ...            1.0         Urban           Y
15  LP001032    Male      No  ...            1.0         Urban           Y
16  LP001034    Male      No  ...            NaN         Urban           Y
17  LP001036  Female      No  ...            0.0         Urban           N
18  LP001038    Male     Yes  ...            1.0         Rural           N
19  LP001041    Male     Yes  ...            1.0         Urban           Y
20  LP001043    Male     Yes  ...            0.0         Urban           N

[11 rows x 13 columns]

#### Selecting single item from series and dataframe
If <b>s is a series object</b>, then the syntax to select a single item from it as given below:<br>
<ul>
    <li>Explicit syntax: <b>s.loc[ item_index/row_index ]</b></li>
    <li>Shorthand syntax: <b>s[ item_index/row_index ]</b></li>
</ul>
Now, if we want to select a single item from a dataframe, first we need to select a series and then from the given series, performing the above operation will yield us the single item we need from that series.<br><br>
i.e, example: <b>Loan_ID_at_6th = data[ 'Loan_ID' ].loc[5]</b><br>
or, <b>Loan_ID_at_6th = data[ 'Loan_ID' ][5]</b>
<br><br>
12. Select the <b>13th item in the 'CoapplicantIncome' column</b> from data.

In [21]:
#Enter your code below
data['CoapplicantIncome'][12]
#Expected output: 8106.0

8106.0

### Selecting multiple items from a series and dataframe
#### Selecting a list of items( specific items )  from series and dataframe
If <b>s is a series object</b>, then the syntax to select a list of items from it as given below:<br>
<ul>
    <li>Explicit syntax: <b>s.loc[[ item1_index, item2_index,... ]]</b></li>
    <li>Shorthand syntax: <b>s[[ item1_index, item2_index,... ]]</b></li>
</ul>
Now, if we want to select some specific items from a dataframe, first we need to select a series and then from the given series, performing the above operation will yield us the specific items we need from that series.<br><br>
i.e, example: <b>Loan_ID_at_6th_7th = data[ 'Loan_ID' ][[5,7]]</b><br>
or, <b>Loan_ID_at_6th_8th = data[ 'Loan_ID' ].loc[[5,7]]</b><br><br>
13.Select the <b>9th and 12th item in the 'ApplicantIncome' column</b> from data.

In [98]:
#Enter your code below
data['ApplicantIncome'].loc[[8,11]]
data[ [ 'LoanAmount' , 'Loan_Amount_Term' ] ][ 89 : 100]

    LoanAmount  Loan_Amount_Term
89       175.0             360.0
90       131.0             360.0
91       188.0             180.0
92        81.0             360.0
93       122.0             360.0
94        25.0             120.0
95         NaN             360.0
96       137.0             360.0
97        50.0             360.0
98       115.0             180.0
99       131.0             360.0

Expected output:<br>
8     4006<br>
11    2500<br>
Name: ApplicantIncome, dtype: int64

#### Selecting a slice of items( continuous items ) from series and dataframe
If s is a series object, then the syntax to select a list of continuous items from it as given below:<br>
<ul>
    <li>Explicit syntax: <b>s.loc[ item_index_start : item_index_last ]</b></li>
    <li>Shorthand syntax: <b>s[ item_index_start : item_index_last+1 ]</b></li>
</ul>
Now, if we want to select a slice of items from a dataframe, first we need to select a series and then from the given series, performing the above operation will yield us the continuous items we need from that series.<br><br>
i.e, example: <b>Loan_ID_3rd_to_5th = data['Loan_ID'].loc[2:4]</b><br>
or, <b>Loan_ID_3rd_to_5th = data['Loan_ID'][2:5]</b><br><br>
14.Select <b>items from 16th to 19th rows from the 'LoanAmount' column</b> from data.

In [97]:
#Enter your code below
data['LoanAmount'][15:19]

15    125.0
16    100.0
17     76.0
18    133.0
Name: LoanAmount, dtype: float64

Expected output:<br>
15    125.0<br>
16    100.0<br>
17     76.0<br>
18    133.0<br>
Name: LoanAmount, dtype: float64

#### Describing a series object
Pandas **describe()** is used to view some **basic statistical details** like percentile, mean, std etc. of a data frame or a series of numeric values.<br>
Syntax: **series_object.describe()**<br><br>
You can see the output of it on your own by running the cell below, which descibes the **LoanAmount** column of our data.

In [30]:
#Run this cell
data['LoanAmount'].describe()

count    593.000000
mean     146.293423
std       85.563878
min        9.000000
25%      100.000000
50%      128.000000
75%      168.000000
max      700.000000
Name: LoanAmount, dtype: float64

15. Print the statistical details of **ApplicantIcome** column of data

In [31]:
#Enter your code below
data['ApplicantIncome'].describe()

count      614.000000
mean      5403.459283
std       6109.041673
min        150.000000
25%       2877.500000
50%       3812.500000
75%       5795.000000
max      81000.000000
Name: ApplicantIncome, dtype: float64

Expected output:<br>
count      614.000000<br>
mean      5403.459283<br>
std       6109.041673<br>
min        150.000000<br>
25%       2877.500000<br>
50%       3812.500000<br>
75%       5795.000000<br>
max      81000.000000<br>
Name: ApplicantIncome, dtype: float64

#### Unique value counts for an item in a column
The value_counts() function is used to get counts of unique values.<br><br>
Syntax: **data['column_name'].value_counts().loc['item']**<br>
This will return the count of **item** in column **column_name**.<br><br>
This is called **method chaining** — a way to combine multiple methods together in a single line.<br>
Yes, we have also used this before in numpy, right?<br><br>
16. Print the **count of active loans** (Loan_Status = 'Y') from data.

In [59]:
#Enter your code below
data['Loan_Status'].value_counts().loc['Y']
#Expected output: 422

422

#### Creating a new column
Syntax: **data['new_column_name'] = value**<br><br>
17.Create a new column **Time_period** and initialize it with 0 and **print data**.

In [60]:
#Enter your code below
data['Time_period'] = 0
print(data)

      Loan_ID  Gender Married  ... Property_Area Loan_Status Time_period
0    LP001002    Male      No  ...         Urban           Y           0
1    LP001003    Male     Yes  ...         Rural           N           0
2    LP001005    Male     Yes  ...         Urban           Y           0
3    LP001006    Male     Yes  ...         Urban           Y           0
4    LP001008    Male      No  ...         Urban           Y           0
..        ...     ...     ...  ...           ...         ...         ...
609  LP002978  Female      No  ...         Rural           Y           0
610  LP002979    Male     Yes  ...         Rural           Y           0
611  LP002983    Male     Yes  ...         Urban           Y           0
612  LP002984    Male     Yes  ...         Urban           Y           0
613  LP002990  Female      No  ...     Semiurban           N           0

[614 rows x 14 columns]

You can see a new column added in the data!<br>
Now it's time to use the concepts you have studied till now here. So let's solve the following problems with the knowledge you have acquired till now!<br>
### Vectorisation problems
16. Create a new column **Total_income** and store the **sum of ApplicantIncome and CoapplicantIncome** from data.

In [61]:
#Enter your code below
data['Total_income'] = data['ApplicantIncome'] + data['CoapplicantIncome']
print(data)

      Loan_ID  Gender Married  ... Loan_Status Time_period Total_income
0    LP001002    Male      No  ...           Y           0       5849.0
1    LP001003    Male     Yes  ...           N           0       6091.0
2    LP001005    Male     Yes  ...           Y           0       3000.0
3    LP001006    Male     Yes  ...           Y           0       4941.0
4    LP001008    Male      No  ...           Y           0       6000.0
..        ...     ...     ...  ...         ...         ...          ...
609  LP002978  Female      No  ...           Y           0       2900.0
610  LP002979    Male     Yes  ...           Y           0       4106.0
611  LP002983    Male     Yes  ...           Y           0       8312.0
612  LP002984    Male     Yes  ...           Y           0       7583.0
613  LP002990  Female      No  ...           N           0       4583.0

[614 rows x 15 columns]

17.Create a new column **Diff** and store the **difference of LoanAmount and and Total_income**.

In [62]:
#Enter your code below
data['Diff'] = data['LoanAmount'] - data['Total_income']
print(data)

      Loan_ID  Gender Married  ... Time_period Total_income    Diff
0    LP001002    Male      No  ...           0       5849.0 -5773.0
1    LP001003    Male     Yes  ...           0       6091.0 -5963.0
2    LP001005    Male     Yes  ...           0       3000.0 -2934.0
3    LP001006    Male     Yes  ...           0       4941.0 -4821.0
4    LP001008    Male      No  ...           0       6000.0 -5859.0
..        ...     ...     ...  ...         ...          ...     ...
609  LP002978  Female      No  ...           0       2900.0 -2829.0
610  LP002979    Male     Yes  ...           0       4106.0 -4066.0
611  LP002983    Male     Yes  ...           0       8312.0 -8059.0
612  LP002984    Male     Yes  ...           0       7583.0 -7396.0
613  LP002990  Female      No  ...           0       4583.0 -4450.0

[614 rows x 16 columns]

### Broadcasting problem
18. The **Loan_Amount_term is asked to be multiplied by 10** ny the manager.Make the necessary changes and print the new data.

In [89]:
#Enter your code below
data = 10 * data['Loan_Amount_Term']

print(data)

KeyError: ignored

### Boolean filtering
19. Print the data of applicants having **Loan_Amount_Term = 480**.

In [93]:
#Enter your code below
data[data.Loan_Amount_Term == 480]

      Loan_ID  Gender Married  ... Credit_History Property_Area Loan_Status
75   LP001255    Male      No  ...            1.0         Urban           N
109  LP001384    Male     Yes  ...            1.0     Semiurban           Y
130  LP001469    Male      No  ...            NaN         Urban           Y
168  LP001579    Male      No  ...            0.0     Semiurban           N
179  LP001630    Male      No  ...            0.0         Urban           N
228  LP001760    Male     NaN  ...            1.0     Semiurban           Y
248  LP001824    Male     Yes  ...            1.0     Semiurban           Y
293  LP001945  Female      No  ...            0.0         Urban           N
298  LP001955  Female      No  ...            1.0         Rural           N
358  LP002158    Male     Yes  ...            0.0         Urban           N
366  LP002187    Male      No  ...            1.0     Semiurban           N
378  LP002224    Male      No  ...            1.0         Urban           N
500  LP002603  Female      No  ...            1.0         Rural           Y
516  LP002670  Female     Yes  ...            1.0     Semiurban           Y
573  LP002862    Male     Yes  ...            1.0     Semiurban           N

[15 rows x 13 columns]

20.Print the data of applicant whose **Property_area ='Semiurban'**.

In [94]:
#Enter your code below
data[data.Property_Area == 'Semiurban']

      Loan_ID  Gender Married  ... Credit_History Property_Area Loan_Status
7    LP001014    Male     Yes  ...            0.0     Semiurban           N
9    LP001020    Male     Yes  ...            1.0     Semiurban           N
22   LP001047    Male     Yes  ...            0.0     Semiurban           N
24   LP001052    Male     Yes  ...            NaN     Semiurban           N
25   LP001066    Male     Yes  ...            1.0     Semiurban           Y
..        ...     ...     ...  ...            ...           ...         ...
592  LP002933     NaN      No  ...            1.0     Semiurban           Y
597  LP002943    Male      No  ...            0.0     Semiurban           N
604  LP002959  Female     Yes  ...            1.0     Semiurban           Y
606  LP002961    Male     Yes  ...            1.0     Semiurban           Y
613  LP002990  Female      No  ...            0.0     Semiurban           N

[233 rows x 13 columns]

So, we have come to an end of the fourth notebook. And I would like to stress on the fact that there is a lot more to pandas than we have discussed here.So if you are interested you can continue and learn more cool stuff that pandas can do. We have given you a beginning and basic ideas. Now you are set to explore more advanced topics.<br><br>
Links:<br>
[https://www.w3resource.com/python-exercises/pandas/index.php](https://www.w3resource.com/python-exercises/pandas/index.php)<br>
[https://towardsdatascience.com/data-visualization-exploration-using-pandas-only-beginner-a0a52eb723d5](https://towardsdatascience.com/data-visualization-exploration-using-pandas-only-beginner-a0a52eb723d5)<br>
[https://pandas.pydata.org/pandas-docs/stable/getting_started/basics.html](https://pandas.pydata.org/pandas-docs/stable/getting_started/basics.html)<br>
[https://mode.com/python-tutorial/python-filtering-with-boolean-indexes/](https://mode.com/python-tutorial/python-filtering-with-boolean-indexes/)<br>
[https://towardsdatascience.com/data-science-with-python-intro-to-loading-and-subsetting-data-with-pandas-9f26895ddd7f](https://towardsdatascience.com/data-science-with-python-intro-to-loading-and-subsetting-data-with-pandas-9f26895ddd7f)<br><br>
So, see you in the next notebook where we will start a completely different library, **matplotlib**. It's gonna be interesting visulaizing the data!<br>
## Happy learning!